@use "../../presets/variables" as *;
@use "../../presets/skin" as *;
@use "../../mixins/mixins" as *;
@use "../../mixins/mixins-media" as *;
@use "../../mixins/extends" as *;

.left-sidebar {
	margin-bottom: $gap-xl;
}

.vertical-slider {
	border-radius: 4px;
	overflow: hidden;
}

.user-login {
	position: relative;

	&__tabs {
		position: absolute;
		top: 0;
		right: $gap;
		border: none;

		button {
			background-color: transparent !important;
			border: none !important;
			color: $color-gray;
			padding: 11px 7px 10px;

			&.active {
				color: $color-light !important;
			}
		}
	}
}