.header-logo__title,
.header-logo__description {
  text-shadow: 0 0 5px #000000, 0 0 15px #000000, 0 0 30px #000000;
}

*:before,
*:after,
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

h1 {
  font-family: "PT Serif", serif;
}

a {
  text-decoration: none;

  color: #165690;
}

p {
  text-align: justify;
}

.bg-body-tertiary {
  background-color: #191919 !important;
}

.navbar > .container-md {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card {
  border: none;
}
.card:not(:last-child) {
  margin-bottom: 30px;
}
.card-header {
  letter-spacing: 0.1em;

  color: #ffffff;
  border: none;
  background-color: #df8a13;

  font-size: 1.2em;
}
.card-body {
  border: 1px solid #d5d5d5;
  border-radius: 0 0 4px 4px;
  background-color: #f4f4f4;
}

.btn-info,
.btn:hover {
  border-color: #d5d5d5;
  background-color: #ffffff;
}

.form-control,
.input-group-lg > .form-control {
  color: #d5d5d5;

  font-size: 0.875em;
}

.nav-link:focus,
.nav-link:hover {
  color: #d5d5d5 !important;
}
.nav-link:focus.active,
.nav-link:hover.active {
  color: #ffffff !important;
}

.header-logo {
  padding: 100px 0;

  text-align: center;

  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
}
.header-logo__title {
  display: block;

  margin-right: -0.33em;

  letter-spacing: 0.33em;

  color: #df8a13;

  font-family: "PT Serif", serif;
  font-size: 3.5rem;
}
.header-logo__description {
  letter-spacing: 0.2em;

  color: #ffffff;

  font-size: 1.15rem;
}

.header-menu {
  margin-bottom: 80px;
}
.header-menu .navbar-nav .nav-link {
  -webkit-transition: background-color 0.25s, color 0.25s;
          transition: background-color 0.25s, color 0.25s;
  text-align: center;
}
.header-menu .navbar-nav .nav-link:hover,
.header-menu .navbar-nav .nav-link:focus {
  color: #ffffff;
  background-color: #517ba2;
}
.header-menu .navbar-nav .nav-link.active {
  background-color: #043170;
}
.header-menu .navbar-nav .nav-link.active:hover,
.header-menu .navbar-nav .nav-link.active:focus {
  background-color: #165690;
}

.main {
  margin-bottom: 80px;
}

.left-sidebar {
  margin-bottom: 80px;
}

.vertical-slider {
  overflow: hidden;

  border-radius: 4px;
}

.user-login {
  position: relative;
}
.user-login__tabs {
  position: absolute;
  top: 0;
  right: 15px;

  border: none;
}
.user-login__tabs button {
  padding: 11px 7px 10px;

  color: #d5d5d5;
  border: none !important;
  background-color: transparent !important;
}
.user-login__tabs button.active {
  color: #ffffff !important;
}

.site-news-item {
  position: relative;
}
.site-news-item:not(:last-child)::after {
  position: absolute;
  right: 0;
  bottom: -10px;

  width: calc(100% - 100px);
  height: 1px;

  content: "";

  background-color: #d5d5d5;
}
.site-news-item img {
  -webkit-transition: background-color 0.25s;
          transition: background-color 0.25s;
}
.site-news-item a {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;

  height: 3rem;

  -webkit-transition: color 0.25s;
          transition: color 0.25s;

  font-size: 1rem;
  line-height: 1.5rem;

  -webkit-line-clamp: 2;
}
.site-news-item:hover img,
.site-news-item:focus img {
  border-color: #df8a13;
  background-color: #df8a13;
}
.site-news-item:hover a,
.site-news-item:focus a {
  color: #df8a13;
}
.site-news-item__date {
  color: #6f6f6f;

  font-size: 0.8rem;
}

.top-films__item {
  margin-right: -0.5px;
  margin-left: -0.5px;

  -webkit-transition: background-color 0.25s;
          transition: background-color 0.25s;

  background-color: transparent;
}
.top-films__item:hover,
.top-films__item:focus {
  background-color: #df8a13;
}
.top-films__item:hover .top-films__link,
.top-films__item:focus .top-films__link {
  color: #ffffff;
}
.top-films__item:hover .top-films__badge,
.top-films__item:focus .top-films__badge {
  background-color: #232323 !important;
}
.top-films__link,
.top-films__badge {
  -webkit-transition: color 0.25s;
          transition: color 0.25s;
}
@media (min-width: 768px) {
  .header-menu .navbar-nav .nav-link {
    border-radius: 4px;
  }
}
@media (max-width: 767.8px) {
  .navbar > .container-md {
    padding: 0;
  }
}
