@use "../presets/variables" as *;
@use "../presets/skin" as *;
@use "../mixins/mixins" as *;
@use "../mixins/mixins-media" as *;
@use "../mixins/extends" as *;

*:before,
*:after,
* {
	box-sizing: border-box;
}

body {
	font-family: $font-main;
	font-size: $font-size;
}

h1 {
	font-family: $font-header;
}

a {
	text-decoration: none;
	color: $color-primary;

	&:hover,
	&:focus {
		color: $color-accent;
	}
}

p {
	text-align: justify;
}